.headerSideBar{
  position: relative;
  height: 50px;
  padding: 0;
}

.company {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 0%;
  margin-left: 30px;
}

.menuIcon , .menuIcon_ {
  margin-right: 10px;
  margin-left: 20px;
  height: 10px;
}

.menuIcon_ {
  height: 14px;
}

