.container{
  padding: 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;

}
.card{
    cursor: pointer;
}


.circle {
  padding: 8px 12px;
  background-color: #1eff3133;
  border-radius: 99px;
}


@media ( max-width: 800px){
  .container{
    grid-template-columns: 1fr;
    grid-gap: 10px 0px;
  }
}
