.container {

}

.section {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0,0,0,0.11);
}

.ul {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #373737;
}

.li {
  font-weight: 600;
  margin-bottom: 0px;
  letter-spacing: -0.6px;
  font-size: 16px;
  color: #494949;
  transition: 0.3s;
  cursor: pointer;
}

.li:hover {
  color: blue;
}



.circle {
  display: inline;
  margin-left: 10px;
  font-size: 12px;
  background-color:#DFDEFF;
  padding: 3px 6px;
  border-radius: 90px;
}


@media ( max-width: 700px ){
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}